@import url('https://cdn.jsdelivr.net/gh/CTalvio/Ultrachromic/jf_font.css');
@import url('https://cdn.jsdelivr.net/gh/CTalvio/Ultrachromic/fixes.css');
@import url('https://cdn.jsdelivr.net/gh/CTalvio/Ultrachromic/base.css');
@import url('https://cdn.jsdelivr.net/gh/CTalvio/Ultrachromic/accentlist.css');
@import url('https://cdn.jsdelivr.net/gh/CTalvio/Ultrachromic/rounding.css');
@import url('https://cdn.jsdelivr.net/gh/CTalvio/Ultrachromic/episodelist/episodes_compactlist.css');
@import url('https://cdn.jsdelivr.net/gh/CTalvio/Ultrachromic/header/header_transparent-dashboard.css');
@import url('https://cdn.jsdelivr.net/gh/CTalvio/Ultrachromic/login/login_frame.css');
@import url('https://cdn.jsdelivr.net/gh/CTalvio/Ultrachromic/fields/fields_noborder.css');
@import url('https://cdn.jsdelivr.net/gh/CTalvio/Ultrachromic/cornerindicator/indicator_floating.css');
@import url('https://cdn.jsdelivr.net/gh/CTalvio/Ultrachromic/type/colorful.css');
@import url('https://cdn.jsdelivr.net/gh/CTalvio/Ultrachromic/titlepage/title_simple.css');
@import url('https://cdn.jsdelivr.net/gh/CTalvio/Ultrachromic/progress/floating.css');
@import url('https://cdn.jsdelivr.net/gh/CTalvio/Ultrachromic/effects/hoverglow.css');
@import url('https://cdn.jsdelivr.net/gh/CTalvio/Ultrachromic/effects/glassy.css');

:root {
  --rounding: 12px;
  --jf-secondary-blur: 0px; /* adjust this */
}

/*Style backdrop*/
.backdropImage {
  filter: blur(0px) saturate(120%) contrast(120%) brightness(40%) !important;
  transform: scale(1.5);
}

.detailPageSecondaryContainer {
  backdrop-filter: blur(var(--jf-secondary-blur)) !important;
  background-color: rgba(0, 0, 0, 0) !important;
  border-radius: var(--rounding);
}

.itemDetailPage,
.detailPagePrimaryContainer,
.detailImageContainer,
.card,
.cardImage,
.visualCardBox {
  filter: none !important;
  backdrop-filter: none !important;
}

.detailPageSecondaryContainer::before,
.detailPageSecondaryContainer::after {
  background: transparent !important;
}

